{% load i18n %}
{% load account %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1>{% trans "Sign In" %}</h1>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
      </form>

      <p>{% trans "If you have not created an account yet, then please" %} <a href="{% url 'account_signup' %}">{% trans "sign up" %}</a> {% trans "first." %}</p>

    </div>
  </div>
</div>

{% endblock %}
